<% include ./partials/header %>
          
<div class="container" id="gameList">
  
  <h2>Games</h2>
  
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <% games.forEach(function(game){ %>
            <form id="removeGame<%= game._id %>" action="/games/<%= game._id %>?_method=DELETE" method="POST"></form>
            
            <div class="col-2">
              <div class="card">
                <img class="card-img-top" src="<%= game.icon %>" alt="<%= game.name %>">
                <div class="card-body">
                  <h5 class="card-title"><%= game.name %></h5>
                  <p class="card-text"><%= game.release.toDateString() %></p>
                  <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
              </div>
            </div>
            
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  



<% include ./partials/footer %>