<% include ./partials/header %>

<div class="container" id="gameList">
  <% games.forEach(function(game){ %>
    <div class="card">
      <div class="list-group-item list-group-item-action list-group-item-light">
        <div class="media">
          <a href="<%= game.link %>">
            <img class="img-thumbnail" src="<%= game.icon %>"></img>
          </a>
          <div class="media-body">
            <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
              <a class="btn btn-link text-muted" data-toggle="collapse" href="#collapse<%=game._id%>">
                <strong><%= game.name %></strong>
              </a>
              
              <p class="release text-muted">
                <em><%= game.release.toDateString() %></em>
                <button class="btn btn-link text-danger" name="removeGame">
                  <i class="fas fa-minus"></i>
                </button>
              </p>
            </form>
          </div>
        </div>
      </div>
  
      <div id="collapse<%=game._id%>" class="collapse" data-parent="#wishlist">
        <div class="card-body">
          TBD
        </div>
      </div>
    </div>
  <% }) %>
</div>
  
  
  



<% include ./partials/footer %>