<% include ./partials/header %>
          
<div class="container" id="gameList">
  <% games.forEach(function(game){ %>
    <form id="removeGame" action="/games/<%= game._id %>?_method=DELETE" method="POST">
    </form>
    
    <div class="card">
      <div class="list-group-item list-group-item-action list-group-item-light">
        <div class="row">
          
          <div class="mr-2 col-md-1">
            <a href="<%= game.link %>">
              <img class="rounded" src="<%= game.icon %>"></img>
            </a>
          </div>
          
          <div class="col-md">
            <button class="mx-auto btn btn-link text-danger" form="removeGame">
              <i class="fas fa-minus"></i>
            </button>
            <a class="text-dark" data-toggle="collapse" href="#collapse<%=game._id%>">
              <strong><%= game.name %></strong> 
            </a>
            
            <em><%= game.developer %>, <%= game.publisher %></em>
          </div>
            
          <div class="col-md-auto">
            <% if (Date.now() <= game.release ) { %>
              <em class="float-right text-dark bg-danger"> <%= game.release.toDateString() %> </em>
            <% } else { %>
              <em class ="float-right text-muted"><%= game.release.toDateString() %></em>
            <% } %>
          </div>
            
        </div>
      </div>
    </div>
  
    <div id="collapse<%=game._id%>" class="collapse" data-parent="#wishlist">
      <div class="card-body">
        TBD
      </div>
    </div>
  <% }) %>
</div>
  
  
  



<% include ./partials/footer %>