<% include ./partials/header %>

<div class="container" id="wishlist">
  <% wishlist.forEach(function(wishlist){ %>
    <div class="card">
      <div class="list-group-item list-group-item-action list-group-item-light">
        
        <form action="/wishlist/<%= wishlist._id %>?_method=DELETE" method="POST">
          <button class="btn btn-link text-danger" name="removeGame"><i class="fas fa-minus"></i></button>
        
          <a class="btn btn-link text-muted" data-toggle="collapse" href="#collapse<%=wishlist._id%>">
            <strong><%= wishlist.name %></strong>
          </a>
          
          <p class="release text-muted"><em>March 31st, 2018</em></p>
        
        </form>
      </div>
  
      <div id="collapse<%=wishlist._id%>" class="collapse" data-parent="#wishlist">
        <div class="card-body">
          <%= wishlist.deck %>
        </div>
      </div>
    </div>
  <% }) %>
</div>
  
  
  



<% include ./partials/footer %>