<% include ./partials/header %>
  <div class="container" id="gameList">
  <h2 class="text-dark">Search Results for: <em class="text-secondary">"<%= query %>"</em></h2>
  
  <% data.forEach(function(game) { %>
    
    <%
    var release;
    game.release_dates.forEach(function(date){
      if (date.platform === 130) {
        release = new Date(date.date);
        return;
      }
    });
    %>
    
    <div class="card">
      <div class="list-group-item list-group-item-action list-group-item-light">
        <div class="media">
          <a href="#">
            <% if (!game.cover) { %>
              <!--<img class="img-thumbnail" src="/images/file-image-regular.svg"></img>-->
              <div class="img-thumbnail"><i class="text-muted fas fa-file-image fa-6x"></i></div>
            <%} else { %>
              <img class="img-thumbnail" src="<%= game.cover.url %>"></img>
            <% } %>
          </a>
          <div class="media-body">
             <form action="/games" method="POST">
              <input  type="hidden" name="name" value="<%= game.name %>">
              <input  type="hidden" name="link" value="<%= game.url %>">
              <input  type="hidden" name="release" value="<%= release %>">
              <% if (!game.cover) { %>
                <input  type="hidden" name="icon" value="#">
              <%} else { %>
                <input  type="hidden" name="icon" value="<%= game.cover.url  %>">
              <% } %>
            
            
              <a class="btn btn-link text-muted" data-toggle="collapse" href="#collapse">
                <strong><%= game.name %></strong>
              </a>
              
              <div class="text-muted">
                <%  if (game.developers) { %>
                  <%= game.developers[0].name %>
                  <input  type="hidden" name="developer" value="<%= game.developers[0].name %>">
                <%  } else {  %>
                  N/A
                  <input  type="hidden" name="developer" value="N/A">
                <%  }  %>
              </div>
              
              <div class="text-muted">
                <%  if (game.publishers) { %>
                  <%= game.publishers[0].name %>
                  <input  type="hidden" name="publisher" value="<%= game.publishers[0].name %>">
                <%  } else {  %>
                  N/A
                  <input  type="hidden" name="publisher" value="N/A">
                <%  }  %>
              </div>
              
              <p class="release text-muted">
                <% if (Date.now() <= release ) { %>
                  <em class="text-dark bg-danger"><%= release.toDateString() %></em>
                <% } else { %>
                  <em class ="text-muted"><%= release.toDateString() %></em>
                <% } %>
                
                <button class="btn btn-link text-success" type="submit">
                  <i class="fas fa-plus"></i>
                </button>
              </p>
            
            </form>
          </div>
        </div>
      </div>
      
      <div id="collapse" class="collapse" data-parent="#game">
        <div class="card-body">
          Deck
        </div>
      </div>
    </div>
  <% }); %>
</div>

<% include ./partials/footer %>