<% include ./partials/header %>

  <div class="container" id="gameList">
  <h2 class="text-dark">Search Results for: <em class="text-secondary">"<%= query %>"</em></h2>
  
  <% data.forEach(function(game) { %>
    
    <%
    var release   = "Future Release",
        icon      = "#",
        developer = "Developer", // Will be "N/A" when expanders are enabled.
        publisher = "Publisher"; // Will be "N/A" when expanders are enabled.
    
    game.release_dates.forEach(function(date){
      if (date.platform === 130) {
        release = new Date(date.date);
        return;
      }
    });
    
    if (game.cover) {
      icon = game.cover.url;
    }
    
    // Disabled while expands are disabled.
    /*
    if (game.developers) {
      developer = game.developers[0].name;
    }
    
    if (game.publishers) {
      publisher = game.publishers[0].name;
    }
    */
    
    %>
    
    <form id="addGame<%= game.id %>" action="/games" method="POST">
      <input  type="hidden" name="name" value="<%= game.name %>">
      <input  type="hidden" name="link" value="<%= game.url %>">
      <input  type="hidden" name="release" value="<%= release %>">
      <input  type="hidden" name="icon" value="<%= icon %>">
      <input  type="hidden" name="developer" value="<%= developer %>">
      <input  type="hidden" name="publisher" value="<%= publisher %>">
    </form>
    
    <div class="card">
      <div class="list-group-item list-group-item-action list-group-item-light">
        <div class="row">
          
          <div class="mr-2 col-md-1">
            <a href="#">
              <% if (icon === "#") { %>
                <div class="rounded"><i class="text-muted fas fa-file-image fa-6x"></i></div>
              <%} else { %>
                <img class="rounded" src="<%= icon %>"></img>
              <% } %>
            </a>
          </div>
          
          <div class="col-md">
            <a class="text-dark" data-toggle="collapse" href="#collapse">
              <strong><%= game.name %></strong>
            </a>
            
            <em>
              <%= developer %>, <%= publisher %>
            </em>
            
            <button class="badge badge-success" form="addGame<%= game.id %>">
              <i class="fas fa-plus"></i>
            </button>
          </div>
              
          <div class="col-md-auto">
            <% if (Date.now() <= release ) { %>
              <em class="float-right text-dark bg-danger"><%= release.toDateString() %></em>
            <% } else { %>
              <em class="float-right text-muted"><%= release.toDateString() %></em>
            <% } %>
          </div>
            
        </div>
      </div>
      
      <div id="collapse" class="collapse" data-parent="#game">
        <div class="card-body">
          Deck
        </div>
      </div>
    </div>
  <% }); %>
</div>

<% include ./partials/footer %>