<% include ./partials/header %>
  <div class="container" id="gameList">
  <h2 class="text-light">Search Results for: <em class="text-secondary">"<%= query %>"</em></h2>
  
  <% today = new Date() %>
  
  <% data.results.forEach(function(element){ %>
    <% releaseDate = new Date(element.original_release_date) %>
    <% link = element.site_detail_url.slice(0, element.site_detail_url.indexOf("release")) %>
    
    <div class="card">
      <div class="list-group-item list-group-item-action list-group-item-light">
        <div class="media">
          <a href="<%= link %>">
            <img class="img-thumbnail" src="<%= element.image.icon_url %>"></img>
          </a>
          <div class="media-body">
             <form action="/games" method="POST">
              <input  type="hidden" name="name" value="<%= element.name %>">
              <input  type="hidden" name="gbLink" value="<%= element.site_detail_url %>">
              <input  type="hidden" name="deck" value="<%= element.deck %>">
              <input  type="hidden" name="release" value="<%= element.original_release_date %>">
              <input  type="hidden" name="icon" value="<%= element.image.icon_url %>">
            
              <a class="btn btn-link text-muted" data-toggle="collapse" href="#collapse<%= element.id %>">
                <strong><%= element.name %></strong>
              </a>
              
              <p class="release text-muted">
                <em><%= releaseDate %></em>
                <button class="btn btn-link text-success" type="submit">
                  <i class="fas fa-plus"></i>
                </button>
              </p>
            
            </form>
          </div>
        </div>
      </div>
      
      <div id="collapse<%= element.id %>" class="collapse" data-parent="#game">
        <div class="card-body">
          <%= element.deck %>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<% include ./partials/footer %>