<% include ./partials/header %>
  <div class="container" id="gameList">
  <h2 class="text-dark">Search Results for: <em class="text-secondary">"<%= query %>"</em></h2>
  
  <% data.forEach(function(game) { %>
    
    <% release = new Date(game.first_release_date) %>
    
    <div class="card">
      <div class="list-group-item list-group-item-action list-group-item-light">
        <div class="media">
          <a href="#">
            <img class="img-thumbnail" src="<%= game.cover.url %>"></img>
          </a>
          <div class="media-body">
             <form action="/games" method="POST">
              <input  type="hidden" name="name" value="<%= game.name %>">
              <input  type="hidden" name="link" value="<%= game.url %>">
              <input  type="hidden" name="release" value="<%= release %>">
              <input  type="hidden" name="icon" value="<%= game.cover.url %>">
            
              <a class="btn btn-link text-muted" data-toggle="collapse" href="#collapse">
                <strong><%= game.name %></strong>
              </a>
              
              <p class="release text-muted">
                <em><%= release.toDateString() %></em>
                <button class="btn btn-link text-success" type="submit">
                  <i class="fas fa-plus"></i>
                </button>
              </p>
            
            </form>
          </div>
        </div>
      </div>
      
      <div id="collapse" class="collapse" data-parent="#game">
        <div class="card-body">
          Deck
        </div>
      </div>
    </div>
  <% }); %>
</div>

<% include ./partials/footer %>